html
  head
    title Главная страница
    script(src="/js/axios.min.js")
  body
    span(style="display: inline-block; width: 100px;") Хеш 
    input(id="hash" type="text" name="hash")
    br
    span(style="display: inline-block; width: 100px;") Команда 
    input(id="command" type="text" name="command")
    br
    button(id="build_button" onClick="sendBuildCommand()") Запустить сборку
    table#build_table
      thead
        tr
          th Номер сборки
          th Хеш
          th Команда
          th Статус
          th Подробности
      tbody
    script(src="/js/index.js")
